<div class="container-fluid col-sm-12 col-lg-6 offset-lg-3">
    <div class="card border-light mb-3 shadow">
      <div class="card-header">Hey,</div>
      <div class="card-body">
        <p class="card-text">Diese Website stellt verschiedene Funktionalitäten bereit, um das Einkaufen im Home24
          Outlet Hannover einfacher
          zu gestalten.</p>
        <p class="card-text">Auch wenn wir Artikel und Produkte von Home24 anzeigen, steht diese Website in keinem Bezug
          zu Home24. Diese
          Projekt wird privat betrieben. Bei Fragen nutzt bitte
          folgenden Link: <a routerLink="/contact">Kontakt</a></p>
      </div>
    </div>
    <div class="card border-light mb-3 shadow">
      <div class="card-header">Getting started</div>
      <div class="card-body">
        <h5 class="card-title">Melde dich an</h5>
        <p class="card-text">Öffne das Menü mit dem Menü-Button und logge dich ein. Solltest du bereits eingeloggt sein,
          überspringe diesen Schritt.
          <small>Noch keine Account? Über Einloggen kannst du dir einen erstellen.</small>
        </p>
        <h5 class="card-title">Erstelle eine Wunschliste.</h5>
        <p class="card-text">
          Über das Menü kommst du auf die Wunschlistenübersicht. Erstelle dort eine neue Wunschliste. Du
          kannst auch mehrere Wunschlisten erstellen, falls du z.B. eine eigene Wunschliste für dein Badezimmer
          haben möchtest.
        </p>
        <h5 class="card-title">Füge Artikel zur Wunschliste hinzu.</h5>
        <p class="card-text">
          Geh auf die Seite von Home24 und suche dort nach deinen Lieblingsartikeln. Du hast einen Artikel gefunden?
          Dann füge ihn zu deiner Wunschliste unter Angabe der Artikelnummer hinzu.
          <small>Die ArtikelNr. sieht z.B. so aus: 000000001000000159</small>
        </p>
        <h5 class="card-title">Abwarten.</h5>
        <p class="card-text">
          Sobald ein Artikel auf deine Wunschliste im Outlet Hannover zur Verfügung steht, werden wir dich per Email
          benachrichtigen. Dann kannst du direkt hinfahren oder vorab anrufen und dich nach dem aktuellen Status des
          Artikels erkundigen.
          <small>Home24 erhält keine Informationen von uns über dein Kaufinteresse. Bitte melde dich direkt im
            Outlet.</small>
        </p>
      </div>
    </div>
</div>
