<div class="container-fluid">
  <div class="card mb-3 shadow" *ngFor="let list of wishlists">
    <img src="{{list.example_image}}" class="card-img-top" alt="cover image">
    <div class="card-body">
      <h5 class="card-title">{{list.name}}</h5>
      <a [routerLink]="['/wishlist', list.id]" class="btn btn-primary">Auswählen</a>
    </div>
  </div>
  <div class="card shadow">
    <div class="card-body">
      <h5 class="card-title">Neue Wunschliste</h5>
      <button class="btn btn-outline-primary" (click)="open(content)">Erstellen</button>
    </div>
  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Neue Wunschliste anlegen</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
      </div>
      <input [(ngModel)]="newWishlistName" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('save click')">Speichern</button>
  </div>
</ng-template>
