<div class="container-fluid mb-3">
    <nav class="navbar navbar-light bg-light justify-content-between col-sm-12 shadow">
      <a class="navbar-brand mb-0 h1" routerLink="/">H24 Notifier</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <div ngbDropdown display="dynamic" class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
              <i class="material-icons">menu</i>
            </button>
            <div ngbDropdownMenu class="shadow" aria-labelledby="dropdownBasic1">
              <p *ngIf="userEmail" ngbDropdownItem>
                Du bist angemeldet!
              </p>
              <button *ngIf="userEmail" ngbDropdownItem (click)="logout()">Ausloggen</button>
              <p *ngIf="!userEmail" ngbDropdownItem>
                Noch keinen Account?
              </p>
              <button *ngIf="!userEmail" ngbDropdownItem (click)="login()">Einloggen oder Registrieren</button>
              <div class="dropdown-divider"></div>
              <button ngbDropdownItem routerLink="/wishlist">Wunschlisten</button>
              <div class="dropdown-divider"></div>
              <button ngbDropdownItem routerLink="/contact">Kontakt</button>
              <button ngbDropdownItem routerLink="/impressum">Impressum</button>
            </div>
          </div>
        </li>
      </ul>
    </nav>
</div>
<router-outlet></router-outlet>

